:root {/*-- Sets color variables --*/
  --prime: #222;
  --text: #333;
  --rev-text: #EEE;
  --accent: #2E9CCA;
  --bg: #EEE;
}

body { /*-- Sets body defaults --*/
  /* padding: .25rem; */
  font-size: 16px;
  color: var(--text);
  background-color: var(--prime);
}

i.fas { /*-- adds a little padding left and right on fontawesome icons --*/
  padding: 0 .33em;
}

.topnav { /*-- main navigation element --*/
  margin-top: -.25rem;
  padding-bottom: .5rem;
  background-color: var(--prime);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

a.nav-item {
  position: relative;
  top: 4px;
  text-align: center;
  padding: .75em;
  margin: auto 0;
  color: var(--rev-text);
  transition: color 250ms ease-in-out;
  text-decoration: none;
}

a.nav-item:hover {
  color: var(--accent);
  cursor: pointer;
}

.label {
  font-size: 1rem;
}

.nav-item.trigram {
  display: none;
  text-decoration: none;
  font-size: 2rem;
}

/* Trigram */
@media screen and (max-width: 767px) {
  .topnav a, .topnav span {display: none;}
  .topnav a.trigram {display:inherit; position:absolute; right:4%; font-size:2em; padding: .25em; background:var(--prime);}
}

/* Navigation */
@media screen and (max-width: 767px) {
  .topnav.responsive {align-items: center;}
  .topnav.responsive a, .topnav.responsive span {display:inherit;}
  .topnav.responsive a:first-child {margin-top:1em;}
  .topnav.responsive a:not(:last-child) {display:inherit; padding-top:1em;}
  .topnav.responsive a.more {margin-bottom: 1em;}
  .topnav.responsive a.trigram {visibility:hidden; transition:none;}
  .topnav.responsive a.trigram:after {content:'\000D7'; visibility:visible; text-indent: -.5em;}
}

/* Navigation default config */
@media screen and (min-width: 768px) {
  .topnav {display: flex; flex-direction: row; justify-content: space-around;}
}