:root {/*-- Sets color variables --*/
  --prime: #222;
  --text: #333;
  --rev-text: #EEE;
  --accent: #2E9CCA;
  --bg: #EEE;
}

body { /*-- Sets body defaults --*/
  /* padding: .25rem; */
  font-size: 16px;
  color: var(--text);
  background-color: var(--prime);
}

i.fas { /*-- adds a little padding left and right on fontawesome icons --*/
  padding: 0 .33em;
}

.topnav { /*-- main navigation element --*/
  margin-top: -.25rem;
  padding-bottom: .5rem;
  background-color: var(--prime);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

a.nav-item {
  position: relative;
  top: 4px;
  text-align: center;
  padding: .75em;
  margin: auto 0;
  color: var(--rev-text);
  transition: color 250ms ease-in-out;
  text-decoration: none;
}

a.nav-item:hover {
  color: var(--accent);
  cursor: pointer;
}

.label {
  font-size: 1rem;
}

.nav-item.trigram {
  display: none;
  text-decoration: none;
  font-size: 2rem;
}

/* Trigram */
@media screen and (max-width: 767px) {
  .topnav a, .topnav span {display: none;}
  .topnav a.trigram {display:inherit; position:absolute; right:4%; font-size:2em; padding: .25em; background:var(--prime);}
}

/* Navigation */
@media screen and (max-width: 767px) {
  .topnav.responsive {align-items: center;}
  .topnav.responsive a, .topnav.responsive span {display:inherit;}
  .topnav.responsive a:first-child {margin-top:1em;}
  .topnav.responsive a:not(:last-child) {display:inherit; padding-top:1em;}
  .topnav.responsive a.more {margin-bottom: 1em;}
  .topnav.responsive a.trigram {visibility:hidden; transition:none;}
  .topnav.responsive a.trigram:after {content:'\000D7'; visibility:visible; text-indent: -.5em;}
}

/* Navigation default config */
@media screen and (min-width: 768px) {
  .topnav {display: flex; flex-direction: row; justify-content: space-around;}
}

/* Slideshow */
.slideshow {
  background-color: var(--bg);
  padding: 1em;
}

.slideshow-wrapper {
  position: relative;
  margin: auto;
  margin-top: 2em;
  max-width: 1440px;
}

.slideshow-wrapper img {
  width: 100%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text-center {
  text-align: center;
}

.captiontext {
  background: rgba(0,0,0,0.4);
  color: #f2f2f2;
  font-size: 22px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numberof {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.indicator {
  cursor:pointer;
  height: auto;
  width: 24%;
  margin: 0 2px;
  background-color: #bbb;
  display: inline-block; 
  transition: all 250ms ease-in-out;
  opacity: .5;
}

.indicator img {
  width: 100% !important;
}

.active, .indicator:hover {
  opacity: 1;
}

/* Fade animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 767px) { /* No slideshow on small screens */
  .slideshow {display: none;}
}